body{
  margin: 0;
  font-family:cursive;
}
.container{
  max-width: 1000px;
  background-image: url(./img/container.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 5%;
  margin: auto;

}
.container header{
  box-sizing: border-box;
  max-width: 70%;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  background-color: #ffffff80;
  align-items: center;
  margin: auto;
  font-size: 56px;
  text-align: center;
  color: #006704;
}
.container header .logo{
  display: flex;
   box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.container header .logo img{
     height: 150px;
}
.container header .today-date{
  box-sizing: border-box;
  font-size: 24px;
  max-width: 40%;
  text-align: right;
 

}
.container main{
  max-width: 70%;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
  text-align: center;
  color: #006704;
  box-sizing: border-box;
  
}
.container main .create-task{  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #f3bfb2b5;
  font-size: 42px;
  width: 100%;
  padding: 10px 0px;
}
.container main .create-task .form{
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.container main .create-task #task-input{
  width: 40%;
  font-size: 24px;
  margin: 0 5px;
} 
.container main .create-task #add-task-btn{
  font-size: 24px;
  color: #006704;
}
.container main .show-tasks{
  height: 500px;
  overflow-y: scroll;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 42px;
  width: 100%;
  padding: 10px 20px;
  margin: 15px 0;
  border: 10px solid #ffffff80;

}
.container main .show-tasks .task{
  font-size: 24px;
  display: flex;
  background-color: #ffffff80;
  margin: 5px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
}
.container main .show-tasks .task .input-check{
  display: flex;

}
.container main .show-tasks .task .input-check .done-task{
  text-decoration: line-through;
  color: #f3bfb2b5;
}
.container main .show-tasks .task .input-check input{
  width: 15px;

}
.container main .show-tasks .task .input-check p{
  margin: 0;
}
.container main .show-tasks .task  .buttons{
  width: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container main .show-tasks .task  .buttons img{
  width: 15px;
  height: 15px;
  pointer-events: none;
}



